<div class="about-us">
<!-- 	<h1>About Us</h1>
 -->
	<div class="about-weston" "clearfix">
		<p><strong>Weston Clay, CEO and Founder</strong>: Weston, a lifelong advocate of reading, learned the book events business while working for <a href="http://www.kimricketts.com">Kim Ricketts Book Events</a> in Seattle. </p>

		<p>As the office manager and Kim’s assistant, he coordinated authors series for big name clients including Starbucks Coffee Company, Boeing, the Seattle Chamber of Commerce, and the research department at Microsoft, as well as the wildly popular Cooks and Books and Words and Wine public series.</p> 


		<p>He has also worked as a writing tutor, a bookseller, and a college level writing and literature instructor. Weston has a B.A. in English and Psychology from University of Washington and a M.A. in English Literature from CUNY’s Brooklyn College.
		</p>

		<p>In addition to reading and writing, Weston enjoys riding his bicycle, shopping at farmers markets, cooking, hiking, seeing plays, and striving to sustain an environmentally friendly urban lifestyle.</p>

		</div> <!-- about-weston -->

		<div class="weston-picture" "clearfix">

			<%= image_tag "weston_image.jpg" %>

			<!-- <img src="images/weston_image.jpg" alt="NYC Book Events Founder, Weston Clay"/>	 -->
		</div> <!-- weston-picture -->

	

</div> <!-- about-us -->
	<div class="clear"></div>