<% @page_title="NYC Book Events - Contact Us" %>

 <div class="contactFix">

		<div class="wrapper rounded6" id="templateContainer">
		    <h1><br>NYC Book Events Newsletter</h1>

		    <div id="templateBody" class="bodyContent rounded6">
	
        
        


<div id="subscribeFormWelcome">If you&#39;re interested in learning more about NYC Book Events, sign up for our &quot;NYC Book Events Newsletter&quot; mailing list. You&#39;ll receive news and updates about us and get invited to our fun public events before anyone else.<br>
&nbsp;<br>
Interested in working with NYC Book Events to host a speaker at your company or organization? Sign up for our &quot;Upcoming Authors&quot; mailing list. You&#39;ll receive regularly updated lists of the speakers we can bring to you.
<br>
<br>
<div class="contact">
To Book Now, Contact Us at:
<br>
Phone: 917.727.5183
<br>
Email: <a href="mailto:info@nycbookevents.com">info@nycbookevents.com</a>
</div> <!-- contact-->
</div>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>



<form action="http://nycbookevents.us7.list-manage.com/subscribe/post" method="POST">
<input type="hidden" name="u" value="ccc6a6a8284c6970c78903e82">
<input type="hidden" name="id" value="27c6bb6bc1">


<div id="mergeTable" class="mergeTable">


<div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
<label for="MERGE0"><strong>Email Address</strong> <span class="asterisk">*</span></label>
<div class="field-group">
    <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="">
    
    
</div>

</div>



<div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-1">
<label for="MERGE1">First Name</label>
<div class="field-group">
    <input type="text" name="MERGE1" id="MERGE1" size="25" value="">
    
    
</div>

</div>



<div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-2">
<label for="MERGE2">Last Name</label>
<div class="field-group">
    <input type="text" name="MERGE2" id="MERGE2" size="25" value="">
    
    
</div>

</div>



<div class="mergeRow dojoDndItem mergeRow-radio" id="mergeRow-4">
<label for="MERGE4"><strong>Preferred Mailing List</strong> <span class="asterisk">*</span></label>
<div class="field-group">
    <div class="interestgroup_field radio-group" id="MERGE4"> <label class="radio" for="MERGE4-0"><input type="radio" data-dojo-type="dijit/form/RadioButton" name="MERGE4" id="MERGE4-0" value="NYC Book Events Newsletter"  class="av-radio"> NYC Book Events Newsletter</label><label class="radio" for="MERGE4-1"><input type="radio" data-dojo-type="dijit/form/RadioButton" name="MERGE4" id="MERGE4-1" value="Upcoming Authors Newsletter"  class="av-radio"> Upcoming Authors Newsletter</label> </div>


    
    
</div>

</div>





</div>


<br>

<div class="submit_container">
<input type="submit" class="button" name="submit" value="Subscribe to list">
</div>
</form>



		    </div>
		</div>

        
		<div class="poweredWrapper">
			<span class="poweredBy"><a href="http://www.mailchimp.com/monkey-rewards/?utm_source=freemium_newsletter&utm_medium=email&utm_campaign=monkey_rewards&aid=ccc6a6a8284c6970c78903e82&afl=1"><img src="http://cdn-images.mailchimp.com/monkey_rewards/MC_MonkeyReward_20.png" border="0" alt="Email Marketing Powered by MailChimp" title="MailChimp Email Marketing" width="139" height="54"></a></span>
		</div>
		
<script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
            </script>
            <script type="text/javascript">
            try {
                var _gaq = _gaq || [];
                _gaq.push(["_setAccount", "UA-329148-88"]);
                _gaq.push(["_setDomainName", ".list-manage.com"]);
                _gaq.push(["_trackPageview"]);
                _gaq.push(["_setAllowLinker", true]);
            } catch(err) {console.log(err);}</script>
            
 </div> <!--class="contactFix-->


