<div class="contact">
		<h1>Contact Us!</h1>

		<h2>To learn more about how we can bring inspiring and entertaining authors to your company or to be added to our <strong>Upcoming Authors</strong> mailing list so that you’ll be the first to know who’s coming our way, contact us today!</h2>

		<h2>
			Phone: 917.727.5183
			<br>
			Email: <a href="mailto:info@nycbookevents.com">info@nycbookevents.com</a>
		</h2>
	</div> <!-- contact -->
