<div class="main-content-homepage">
		<div class="welcome-message" "clearfix">
			<h1>Launching in Fall 2013</h1>

			<p>This fall, <strong>NYC Book Events</strong> will bring author event services to companies and organizations in and around New York City.</p>

			<h2>Is your company:</h2>


			<ul>
				<li>Looking for new ways to <strong>educate your employees</strong> about your field? 
				</li>

				<li>Striving to <strong>maximize innovation and productivity?</strong></li>

				<li>Concerned with <strong>employee retention?</strong></li>

				<li>Trying to build a <strong>sense of community</strong> or a vibrant and attractive <strong>company culture?</strong></li>

				<li>Interested in social issues, environmentalism, or <strong>inspiring employees</strong> to lead healthy lifestyles?</li>

				<li>Trying to make an upcoming <strong>event or company party</strong> even better?</li>

				<li>Seeking to host speakers on a <strong>limited budget?</strong></li>
			</ul>

			<p>Whatever your motivation, <strong>NYC Book Events</strong> will help you design a cost-effective event or ongoing speaker series specifically tailored to your needs.</p>

			<div class="service-contact-copy">
				<p>Please take a look at our <strong><a href="services">services</a></strong> and <strong><a href="contact">contact</a></strong> us today.
				</p>
			</div> <!--service-contact-copy-->

			<p id="forward"><strong>We look forward to working with you!</strong></p>


		</div> <!--welcome-message-->

		<div class="welcome-video" "clearfix">
			<iframe width="420" height="315" src="http://www.youtube.com/embed/x8KTqKJl9SY??modestbranding=1&controls=0&rel=0&modestbranding=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div> <!--welcome-video-->

		<!-- <div class="main-event-photo">
			<img src="images/placeholder-event.jpg" alt="NYC Book Event with Author X"/> -->
		</div> <!--main-event-photo-->

	</div> <!--main-content-homepage-->

	<div class="clear"></div>