<% @page_title="NYC Book Events- Our Services" %>

<div class="All-Company-Info">

	<h1>For Companies</h1>

		<p><strong>NYC Book Events</strong> services companies in the New York City area, hosting stimulating and entertaining author events right at your company’s offices. Working with us gives you and your employees access to a constant stream of today’s biggest thinkers, researchers, and writers in every field.</p>

		<p>Major players including Microsoft, Google, Starbucks, Boeing and Yahoo already know the value of hosting frequent speaker events for their employees. With <strong>NYC Book Events</strong>, you too can host speakers at your company at a fraction of the cost of working with a speakers bureau or lecture agency.</p>

		<p>Hosting authors at your company will help to stimulate your employees’ minds, expose them to new skills and ideas, promote team building and leadership skills, and give them an opportunity to network with their colleagues and world-class writers in their field. Depending on which authors you choose to host, your events can also work to encourage healthy lifestyles, promote literacy, or simply be for fun&#8212;it’s all up to you!</p>

		<p>Whether you want us to create an ongoing speakers series tailored to the needs of your company or you need a one-time speaker for an upcoming event or party, <strong>NYC Book Events</strong> can help!</p>

		<p>
			<a href="contact">
			<strong>Contact</strong></a> us today to find out how <strong>NYC Book Events</strong> can work for you!</p>

	<h1>For Publishers</h1>

		<p><strong>NYC Book Events</strong> is always seeking new authors for events with our dynamic clientele. If you work with authors who either live in New York City or plan to come through on a tour, please let us know. We strive to provide our clients with a rich and diverse roster of authors for our events, and our events put your authors in front of sizable audiences with an innate interest in the topic of their book.</p>

		<p>As an added incentive, all of our client events include a quantity purchase of the author’s latest book (with no returns), which will be reported to the New York Times and Nielsen bestseller lists.</p>

		<p>We think you and your authors will love our events, so please <strong><a href="contact">contact</a></strong> us today! </p>

	<h1>For Authors</h1>

		<p>If you have published a book and either live in New York City or plan to visit (on tour or otherwise) we may be interested in working with you! <strong>NYC Book Events</strong> works to place published authors with interested audiences at our client events. Although we cannot guarantee an event for you, please send us a press release and any other information about your book and we will contact you if our clients are interested in hosting you for an event.</p>


	</div> <!-- All-Company-Info -->
