body {
  /*background: url("../images/dark_wood.png");*/
  /*background: url("../images/wood.jpg");*/
  /*background: url("../images/dark_fish_skin.png");*/
  /*background-color: black;*/
  /*background: url("../images/dirty_old_shirt.png");*/
  /*background: url("../images/inflicted.png");*/
  /*background: url("../images/twinkle_twinkle.png");*/
  /*background: url("../images/Background.jpg");*/
  background-image:url('blackstamp.jpg');
 /* background-repeat: auto;*/
  font-family: arial, Helvetica, sans-serif;
  /*opacity: .9;*/
  font-family: "Courier New", Courier, arial, sans-serif
  }

#container {
  width: 1100px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid black;
}

header {
  width: 1100px;
  /*background-color: black;*/
  /*border: 1px solid black;*/

}
.main-logo img {
  /*margin: 0px 0px 0px 10px;*/
  width: 330px;
  height: 250px;
  float: left;

  /*border: 1px solid black;*/

}

.nyc-skyline img{
  margin: 0px 0px 0px 0px;
  width: 770px;
  height: 190px;
}

nav {
  width: 770px;
  /*border: 1px solid black;*/
  text-align: center;
  padding-top: 20px;
  background-color: black;
  float: right;
  margin-top: -10px;
  height: 45.25px;
}

.top-navigation a:hover{
  color: #0BB5FF;
  /*font-weight: bold;*/
}

nav a {
  /*border: 1px solid black;*/
  text-decoration: none;
  color: white;
  font-size: 30px;
  /*padding-left: 20px;*/
  margin-left: 20px;
  margin-right: 20px;
  /*padding: 5px;*/
  font-weight: bold;
}

#message-home {
  font-size: 28px;
  
}

.main-content-homepage {
  width: 1100px;
  background-color: white;
  /*border-right: 1px solid black;
  border-left: 1px solid black;*/
  padding-top: 0px;
  margin: 0 auto;
  height: 640px;
  font-size: 18px;
}

p.copy-about a {
  text-decoration: none;
}

.welcome-message {
  width: 600px;
  float: left;
  padding-left: 30px;
  padding-right: 30px;
  /*background: url("../images/GRID.jpg");*/
}

.welcome-message h1 {
  text-align: center;
}

.welcome-video {
  padding: 165px 10px 0px 10px;
}

.main-event-photo img {
  width: 420px;
}

.service-contact-copy a{
  text-decoration: none;
  color: black;
}

.service-contact-copy a:hover{
  color: #0BB5FF;
  /*font-weight: bold;*/
}

.about-us {
  width: 1100px;
  background-color: white; 
}

/*.about-us h1 {
  padding: 10px 0px 10px 40px;
}*/

.about-weston {
  width: 400px;
  float: right;
  padding: 20px 110px 60px 0px;
  font-size: 16px;
}

.about-weston a {
  text-decoration: none;
  color: black;
}

.about-weston a:hover{ 
  color: #0BB5FF;
}

.weston-picture img {
  padding: 40px 0px 60px 110px;
}

#forward {
  text-align: center;
}

footer {
  width: 1100px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  border-top: 2px solid black;
}


footer img{
  width: 50px;
  height: 50px;
}

.All-Company-Info {
  width: 800px;
  margin: 0 auto;
}

.All-Company-Info p {
  font-size: 18px;
} 

.All-Company-Info a{
  text-decoration: none;
  color: black;
}

.All-Company-Info a:hover {
  color: #0BB5FF; 
}


.contact a {
  text-decoration: none;
  color: black
}

.contact a:hover {
  color: #0BB5FF;
}


.blog-soon {
  width: 1100px;
  text-align: center;
}

.blog-soon img {
  width: 500px;
  height: 500px;
}



















/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}


.clear {
  clear: both;
}